@import './variables.css';
body {
    margin: 0;
    padding: 0;

    background-color: var(--primary-background);
    background-color: #e5e5f7;
    font-family: var(--primary-font);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}